<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />-->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/navbar-fixed-top.css"/>
    <link rel="stylesheet" type="text/css" href="css/registration-form.css"/>
    <script src="js/bootstrap.js"/>
    <script>
        //<![CDATA[
        jQuery(document).ready(function ($) {
            $(".multitab-widget-content-widget-id").hide();
            $("ul.multitab-widget-content-tabs-id li:first a").addClass("multitab-widget-current").show();
            $(".multitab-widget-content-widget-id:first").show();
            $("ul.multitab-widget-content-tabs-id li a").click(function () {
                $("ul.multitab-widget-content-tabs-id li a").removeClass("multitab-widget-current a");
                $(this).addClass("multitab-widget-current");
                $(".multitab-widget-content-widget-id").hide();
                var activeTab = $(this).attr("href");
                $(activeTab).fadeIn();
                return false;
            });
        });
        //]]>
    </script>
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PORTFL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/profile">Account</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a href="/login"><span class="glyphicon glyphicon-log-in" th:text="#{common.logout}"/></a></li>
                <li sec:authorize="isAnonymous()"><a href="/login"><span class="glyphicon glyphicon-log-out" th:text="#{common.login}"/></a></li>
                <li><a href="?lang=ru"><span class="glyphicon"></span>ru</a></li>
                <li><a href="?lang=en"><span class="glyphicon"></span>en</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container center-block">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#login" th:text="#{common.login}"/></li>
        <li><a data-toggle="tab" href="#register" th:text="#{common.register}"/></li>
    </ul>
    <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
            <form method="post" class="panel-body form-horizontal"
                  th:object="${userForm}" th:action="@{/login}">
                <div class="form-group">
                            <label class="control-label col-sm-2" for="username" th:text="#{user.form.username}"/>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" required=""
                                       th:value="${session[username]}" th:placeholder="#{user.form.username}"
                                       th:field="*{username}" autofocus=""/>
                            </div>
                        </div>
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.password}"/>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" required=""
                                       th:placeholder="#{user.form.password}" th:field="*{password}"/>
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default"><span th:text="#{user.form.login}"/></button>
                    </div>
                </div>
            </form>
        </div>
        <div id="register" class="tab-pane fade">
            <!--/*@thymesVar id="userForm" type="com.portfl.web.dto.UserForm"*/-->
            <form class="panel-body form-horizontal" th:object="${userForm}" th:action="@{/registration}" th:method="post">
                <!-- Username-->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.username}"/>
                            <div class="col-sm-10">
                                <input id="username" type="text" class="form-control" required=""
                                       th:value="${session[username]}" th:placeholder="#{user.form.username}"
                                       th:field="*{username}" autofocus=""/>
                            </div>
                        </div>
                <!-- Password -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.password}"/>
                            <div class="col-sm-10">
                                <input id="password" type="password" class="form-control" required=""
                                       th:value="${session[password]}" th:placeholder="#{user.form.password}"
                                       th:field="*{password}"/>
                            </div>
                        </div>
                <!-- First name -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.firstname}"/>
                            <div class="col-sm-10">
                                <input id="firstname" type="text" class="form-control" required=""
                                       th:value="${session[firstname]}" th:placeholder="#{user.form.firstname}"
                                       th:field="*{firstName}"/>
                            </div>
                        </div>
                <!-- Last name -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.lastname}"/>
                            <div class="col-sm-10">
                                <input id="lastname" type="text" class="form-control" required=""
                                       th:value="${session[lastname]}" th:placeholder="#{user.form.lastname}"
                                       th:field="*{lastName}"/>
                            </div>
                        </div>
                <!-- Email -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.email}"/>
                            <div class="col-sm-10">
                                <input id="email" type="text" class="form-control" required=""
                                       th:value="${session[email]}" th:placeholder="#{user.form.email}"
                                       th:field="*{email}"/>
                            </div>
                        </div>
                <!-- Weight -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.weight}"/>
                            <div class="col-sm-10">
                                <input id="weight" type="number" class="form-control" required=""
                                       th:value="${session[weight]}" th:placeholder="#{user.form.weight}"
                                       th:field="*{weight}"/>
                            </div>
                        </div>
                <!-- Height -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.height}"/>
                            <div class="col-sm-10">
                                <input id="height" type="number" class="form-control" required=""
                                       th:value="${session[height]}" th:placeholder="#{user.form.height}"
                                       th:field="*{height}"/>
                            </div>
                        </div>
                <!--Birthday -->
                <div class="form-group">
                            <label class="control-label col-sm-2" for="email" th:text="#{user.form.birthday}"/>
                            <div class="col-sm-10">
                                <input id="birthday" type="number" min="1900" max="2100" class="form-control" required=""
                                       th:value="${session[birthday]}" th:placeholder="#{user.form.birthday}"
                                       th:field="*{birthday}"/>
                            </div>
                        </div>
                <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default"><span th:text="#{user.form.submit}"/></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>