<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>photo</title>
</head>
<body>

<div id="image-left" class="image-left" ondrop="test(event)" style="width:200px;height:200px;border:1px solid #000;"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script >
    window.ondragover = function(e) {e.preventDefault()}
    function test(e) {
        e.preventDefault();
        var file = e.dataTransfer.files[0];
        var fd = new FormData;
        fd.append('img', file);
            $.ajax({
                type:'POST',
                url: '/loadFile',
                data: fd,
                dataType: 'text',
                processData: false,
                contentType: false,
                success: function (url) {
                    $( ".image-left" ).append("<img src="+url+"/>");
                }
            })
    }
</script>

</body>
</html>