<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site Constructor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

</head>
<body>
<nav th:replace="header :: header"/>

<!--https://res.cloudinary.com/kondrat/image/upload/v1492353314/vjwsmigj5oymkkrbwzkv.jpg-->
<!--https://712789228774171:LmYagMKQ3CWZyXjmUcXrAGG_mzU@api.cloudinary.com/v1_1/kondrat/resources/image-->

<div class="jumbotron">
    <div class="container text-center">
        <h1>My Portfolio</h1>
        <p>Some text that represents "Me"...</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3>
    <a id="upload_widget_opener">Upload new photos</a>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img1.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img2.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img3.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img4.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img5.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img6.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img7.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="image/img8.jpg" class="img-responsive" style="width:100%" alt="Image"/>
        </div>
    </div>
</div>
<br/>
<br/>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

<script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({ cloud_name: 'kondrat', upload_preset: 'tduqgmt1', sources: ['local', 'url'], keep_widget_open: true},
            function(error, result) { console.log(error, result) });

    }, false);
</script>
</body>
</html>