<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>PORTFL</title>
    <link rel="shortcut icon" href="/image/ic_portfl.png" type="image/png"/>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="../css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../css/gallery.css"/>
    <link type="text/css" rel="stylesheet" href="../css/simplelightbox.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/jquery.easyselect.min.css"/>

    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'/>

    <!--<link rel="stylesheet" type="text/css" href="../css/registration-form.css"/>-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PORTFL</a>
            </div>
        </div>
    </nav>
    <main class="container-fluid" id="main">
        <div class="row">
            <div class="col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
                <div class="collapse-menu-button expand hidden-lg" data-toggle="collapse" href="#sidebar" aria-expanded="false"
                     aria-controls="sidebar"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                <div class="collapse-menu-button collapse hidden-lg" data-toggle="collapse" href="#sidebar" aria-expanded="false"
                     aria-controls="sidebar"><span class="glyphicon glyphicon-circle-arrow-left"></span></div>
                <!--Menu-->
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="menu-name" th:text="#{navbar.home}"></span>
                        </a>
                    </li>
                    <!--@thymesVar id="current_user_id" type="java.lang.String"-->
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="${'/profile/' + current_user_id}">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="menu-name" th:text="#{navbar.profile}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/auth/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="menu-name" th:text="#{navbar.edit}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a id="upload_widget_opener">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                            <span class="menu-name" th:text="#{navbar.upload}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/auth/login">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span class="menu-name" th:text="#{navbar.login}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/auth/logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span class="menu-name" th:text="#{navbar.logout}"></span>
                        </a>
                    </li>
                    <li class="active" sec:authorize="isAnonymous()">
                        <a href="/auth/registration">
                            <span class="glyphicon glyphicon-save-file"></span>
                            <span class="menu-name" th:text="#{navbar.register}"></span>
                        </a>
                    </li>
                </ul>
                <!--Admin-->
                <ul class="nav nav-sidebar" sec:authorize="hasRole('ROLE_ADMIN')">
                    <li>
                        <a href="/users">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="manu-name" th:text="#{navbar.admin.users}"></span>
                        </a>
                    </li>
                </ul>
                <!--Languages-->
                <ul class="nav nav-sidebar">
                    <li><a href="?lang=ru"><span class="menu-name" th:text="#{navbar.language.russian}"></span></a></li>
                    <li><a href="?lang=en"><span class="menu-name" th:text="#{navbar.language.english}"></span></a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <form action="/search" method="GET" class="search">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" th:placeholder="#{navbar.search}"/>
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </ul>
            </div>
            <div class="overlay" data-toggle="collapse" href="#sidebar" aria-expanded="false" aria-controls="sidebar">
            </div>
            <div class="col-lg-10 col-lg-offset-2 main">
                <h1 class="page-header" th:text="#{registration.header}"></h1>
                <!--@thymesVar id="user" type="com.portfl.model.User"-->
                <form class="form-horizontal" action="#"
                      th:object="${user}" th:action="@{/auth/registration}" method="post">
                    <fieldset>
                        <div class="col-lg-6">
                            <input type="hidden" th:field="*{id}"/>
                            <!-- Username-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.username}"></label>
                                <div class="col-md-8">
                                    <input id="username" type="text" class="form-control input-md" required=""
                                           th:placeholder="#{registration.username}" th:field="*{username}" autofocus=""/>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.password}"></label>
                                <div class="col-md-8">
                                    <input id="password" type="password" class="form-control input-md" required=""
                                           th:placeholder="#{registration.password}" th:field="*{password}"/>
                                </div>
                            </div>
                            <!-- First name -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.firstname}"></label>
                                <div class="col-md-8">
                                    <input id="firstname" type="text" class="form-control input-md" required=""
                                           th:placeholder="#{registration.firstname}" th:field="*{firstName}"/>
                                </div>
                            </div>
                            <!-- Last name -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.lastname}"></label>
                                <div class="col-md-8">
                                    <input id="lastname" type="text" class="form-control input-md" required=""
                                           th:placeholder="#{registration.lastname}" th:field="*{lastName}"/>
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.email}"></label>
                                <div class="col-md-8">
                                    <input id="email" type="text" class="form-control input-md" required=""
                                           th:placeholder="#{registration.email}" th:field="*{email}"/>
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.gender}"></label>
                                <div class="col-md-8">
                                    <!--@thymesVar id="genders" type="java.util.Map<com.portfl.model.Gender, java.lang.String>"-->
                                    <select id="genders" class="form-control input-md" th:field="*{gender}"
                                            th:placeholder="#{registration.gender}">
                                        <option th:each="genderOption : ${genders}"
                                                th:value="${genderOption.key}"
                                                th:text="${genderOption.value}"/>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Weight -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.weight}"></label>
                                <div class="col-md-8">
                                    <input id="weight" type="number" class="form-control input-md" required=""
                                           th:placeholder="#{registration.weight}" th:field="*{weight}"/>
                                </div>
                            </div>
                            <!-- Height -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.height}"></label>
                                <div class="col-md-8">
                                    <input id="height" type="number" class="form-control input-md" required=""
                                           th:placeholder="#{registration.height}" th:field="*{height}"/>
                                </div>
                            </div>
                            <!-- Birthday -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.birthyear}"></label>
                                <div class="col-md-8">
                                    <input id="birthday" type="number" min="1900" max="2100" class="form-control input-md" required=""
                                           th:placeholder="#{registration.birthyear}" th:field="*{birthday}"/>
                                </div>
                            </div>
                            <!-- Photosession types -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" th:text="#{registration.types}"></label>
                                <div class="col-md-8">
                                    <!--@thymesVar id="photosession_types" type="java.util.List<com.portfl.model.Type>"-->
                                    <select id="types" class="form-control input-md" multiple=""
                                            th:placeholder="#{registration.types}" th:field="*{types}">
                                        <option th:each="type:${photosession_types}"
                                                th:value="${type.id}" th:text="${type.name}">Photo type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-success" th:text="#{registration.submit}"/>
                                <button type="reset" class="btn btn-danger" th:text="#{registration.reset}"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/simple-lightbox.js"></script>

    <script type="text/javascript" src="../js/all.js"></script>
    <!-- cloudinary -->
    <script type="text/javascript">
        document.getElementById("upload_widget_opener").addEventListener("click", function() {
            cloudinary.openUploadWidget({ cloud_name: 'kondrat', upload_preset: 'tduqgmt1', sources: ['local', 'url'], keep_widget_open: false},
                function(error, result) {
                    if (result != undefined) {
                        $.ajax({
                            url: "/loadPhoto",
                            data: JSON.stringify(result),
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json"
                        });
                    }
                    console.log(error, result)
                }
            );
        }, false);
    </script>

    <script type="text/javascript" src="../js/jquery.easyselect.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var placeholder = /*[[#{registration.types}]]*/ 'Types';
        $(document).ready(function() {
            $('#types').easySelect(placeholder);
        });
        /*]]>*/
    </script>
</body>
</html>